  .products {
    padding: 10px 10px;
    height: 400px;
    font-size: .7em;
  }

  .products .header {
    background-color: lightblue;
  }

  .products div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 10px 10px;
  }

  .products .innerdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 10px 10px;
  }

  .products div span {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .pager{
      display:flex;
      align-items:center;
      justify-content:space-between;
  }

  .products-header{
      display:flex;
      justify-content:space-between;
      align-items:center;
      padding:0px 15px;
  }

.add-product-container div {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: center;
}
.add-product-container div label{
  min-width:200px;
}
.product-details{
    margin-top:50px;
}
